.layui-card-header{
    display: flex;
    justify-content: space-between;
}
.layui-btn{
    margin-top: 5px;
}
#form-edit{
    margin-top: 30px;
}
.layui-form-item {
    width: 400px;
}
#form-bianji{
    margin-top: 30px;
}